{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            <div class="front-matter">
                <div class="title-container">
                    {{ partial "page-heading" . }}
                </div>
                <div class="meta">
                    <div class="date" title="{{ .Date.Format .Site.Params.DateFormFull }}">
                        {{ .Date.Format .Site.Params.DateForm }}</div>
                    <div class="reading-time">
                        <div class="middot"></div>{{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute
                        read{{ else }}{{ .ReadingTime }} minutes read{{ end }}
                    </div>
                    {{ if ne .Date .Lastmod }}
                    <div class="date" title="{{ .Lastmod.Format .Site.Params.DateFormFull }}">
                        <div class="middot"></div> Updated
                        {{ $timeRange := slice 31536000 2678400 86400 3600 60 }}
                        {{ $timeSpan  := slice "year" "month" "day" "hour" "minute" }}
                        {{ $sinceDuration := (now.Sub .Lastmod)}}
                        {{ $done := false }}
                        {{ range $i, $secs := $timeRange }}
                        {{ if ne $done true }}
                        {{ $updatedAt := math.Floor (div $sinceDuration.Seconds $secs) }}
                        {{ if gt $updatedAt 0 }}
                        {{$updatedAt}} {{ index $timeSpan $i }}{{ if gt $updatedAt 1 }}s{{end}} ago
                        {{ $done = true }}
                        {{ end }}
                        {{ end }}
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="markdown">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}